<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr") 

</head>
<body>

    <div id="cabecera" >
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a href="#"><img src="~/img/logo.png" alt="Home" id="logo"></a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                </div>
            
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hidden-xs hidden-sm">
                    <form action="">
                        <div class="input-group " id="buscador">
                            <input type="text" class="form-control buscador">
                            <span class="input-group-btn">
                             <button class="btn btn-default buscar-header " type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse barraSuperior" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Promociones", "Index", "Home")</li>
                    <li>@Html.ActionLink("Nosotros", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>



    <div class="container body-content">

        <div id="contenedorGeneral">
   
             @RenderBody()

        </div>

    </div>

    <!--Inicio pie de pagina-->


    <footer>

    <div id="pieBanner">

    </div>

    <div id="pie">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <h3>Genero</h3>
                    <div><a href="#">Accion</a></div>
                    <div><a href="#">Comedia</a></div>
                    <div><a href="#">Ficcion</a></div>
                    <div><a href="#">Romance</a></div>
                    <div><a href="#">Ciencia Ficcion</a></div>
                    <div><a href="#">Terror</a></div>
                    <div><a href="#">Musical </a></div>
                    <div><a href="#">Melodrama</a></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <h3>Nosotros</h3>
                    <div><a href="#">Quienes Somos</a></div>
                    <div><a href="#">Contactos</a></div>
                    <div><a href="#">Home</a></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <h3>Contactenos</h3>
                    <div><a href="#">Av. Perdo Goeyna 1423, CABA Buenos Aires</a></div>
                    <div><a href="#">Tel: 011-4753-4423, 011-4753-4425</a></div>
                    <div><a href="#">Horario: Lunes a Viernes de 9 a 18hs, Sabados 9 a 15hs</a></div>

                </div>
            </div>
        </div>
    </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
